html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: x-large;
    color: blue;
}

#bg1 {
    background-image: ;
}

nav {
    height: 7vh;
    width: 100vw;
    max-width: 100%;
    background-color: rgb(34, 34, 34);
    display: flex;
}

.nav-title-container {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
}

.nav-title {
    padding-left: 30px;
    font-size: 30px;
    color: white;
}

.nav-element-container {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
}

.nav-element {
    width: 15%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition-duration: 300ms;
}

.nav-element:hover {
    color: black;
    background-color: white;
}
