html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

#bg1 {
    background: no-repeat;
    background-position: 0 -500px;
    background-image: url('https://wallpapers.com/images/featured/nature-2ygv7ssy2k0lxlzu.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 93vh;
    color: white;
}

#bg2 {
    background: no-repeat;
    background-position: 0 -500px;
    background-image: url('https://wallpapers.com/images/featured/nature-2ygv7ssy2k0lxlzu.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 93vh;
    color: white;
}

nav {
    height: 7vh;
    width: 100vw;
    max-width: 100%;
    background-color: rgb(34, 34, 34);
    display: flex;
}

.nav-title-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
}

.nav-icon {
    padding-left: 1vw;
    height: 80%;
}

.nav-title {
    padding-left: 1vw;
    font-size: 30px;
    color: white;
}

.nav-element-container {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
}

.nav-element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition-duration: 300ms;
}

.nav-element:hover {
    color: black;
    background-color: white;
}

#student-name {
    font-size: 50px;
}

#student-major {
    font-size: 30px;
}

#student-school {
    font-size: 30px;
}

.link-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.student-info {
    font-size: 20px;
    width: 50%;
    text-align: center;
    color: white;
    transition-duration: 300ms;
}

.link:hover {
    font-size: 30px;
}